.table-hover tr:hover{
	background-color:#dee2e6 !important;
	cursor: pointer;
}
table tr td .bx-trash{
	color: red;
	font-size: 25px;
}
table tr td .bx-trash:hover{
	outline: red;
	color: black;
}
.tab-content #salon .table td{
	padding: 0;
}
.tab-content #service .table td{
	padding: 0;
}
.img-res{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 20em;
}
.form-group .rating i{
	font-size: 2rem;
}
.main-menu{
	border-top-right-radius: 12px;
	box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 5.13);
}
.invent h6{
	margin: 0;
}
.invent p{
	text-transform: capitalize;
	color: grey;
}
.del-icon i{
	font-size: 70px;
}