.table-hover tr:hover{
	background-color:#dee2e6 !important;
	cursor: pointer;
}
table tr td .bx-trash{
	color: red;
	font-size: 25px;
}
table tr td .bx-trash:hover{
	outline: red;
	color: black;
}
.tab-content #salon .table td{
	padding: 0;
}
.tab-content #service .table td{
	padding: 0;
}

